<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProjectReviewTool.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <ProjectReviewTool.MySettings>
            <setting name="CheckboxExcelValue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultCalendar" serializeAs="String">
                <value>PRSD Federal Calendar</value>
            </setting>
            <setting name="PathFlagField" serializeAs="String">
                <value>Flag5</value>
            </setting>
            <setting name="StatusDay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StatusWeeks" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="EnterpriseProjectFields" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Deliverable</string>
                        <string>Primary IT Liaison</string>
                        <string>Primary IT Planner</string>
                        <string>Primary Office Director</string>
                        <string>Primary Program Manager</string>
                        <string>Primary Project Manager</string>
                        <string>PTO_PfM</string>
                        <string>PTO_PgM_Notes</string>
                        <string>PTO_PjM_Notes</string>
                        <string>PTO_Program1</string>
                        <string>PTO_ProgramManager</string>
                        <string>PTO_TechnicalLead</string>
                        <string>Scope Statement</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EnterpriseTaskFields" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ENTERPRISE_CUSTOM_FIELD_1</string>
                        <string>ENTERPRISE_CUSTOM_FIELD_2</string>
                        <string>ENTERPRISE_CUSTOM_FIELD_3</string>
                        <string>ENTERPRISE_CUSTOM_FIELD_4</string>
                        <string>ENTERPRISE_CUSTOM_FIELD_5</string>
                        <string />
                    </ArrayOfString>
                    <!--
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>PTO_EVMActivityCode_v4</string>
                        <string>PTO_KeyActivityFlag</string>
                        <string>PTO_PPACode_v4</string>
                        <string>PTO_ProgramCode</string>
                        <string>PTO_SDLCPhase_v4</string>
                        <string />
                    </ArrayOfString> 
                    -->                    
                </value>
            </setting>
            <setting name="CustomReports" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CUSTOM_REPORT_FIELD_1</string>
                        <string>CUSTOM_REPORT_FIELD_2</string>
                        <string>CUSTOM_REPORT_FIELD_3</string>
                        <string>CUSTOM_REPORT_FIELD_4</string>
                        <string>CUSTOM_REPORT_FIELD_5</string>
                        <string />
                    </ArrayOfString>                
                    <!--                
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>PTO_Deployment</string>
                        <string>PTO_IsThisSDLCPhase</string>
                        <string>PTO_KeyActivityFlag</string>
                        <string>PTO_OMB_EVM_CD</string>
                    </ArrayOfString>
                    -->                                  
                </value>
            </setting>
            <setting name="AutoSetStatusDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjectSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_AutoLinkTasks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_AutoSplitTasks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_NewTasksEstimated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_ScheduleFromStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Default_AutoTrack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Default_AutoAddResources" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_DefaultEffortDriven" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_HonorConstraints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultTaskType" serializeAs="String">
                <value>Fixed Duration Not Effort Driven</value>
            </setting>
            <setting name="StatusTextField" serializeAs="String">
                <value>Text5</value>
            </setting>
        </ProjectReviewTool.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
